<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBxWGiSeA5cuY_ku2vIhnoB5VntMsFje2g</string>
	<key>GCM_SENDER_ID</key>
	<string>122271573196</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.snk.sortinghero</string>
	<key>PROJECT_ID</key>
	<string>sortinghero</string>
	<key>STORAGE_BUCKET</key>
	<string>sortinghero.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:122271573196:ios:dd627e6b3f0575bb344e69</string>
</dict>
</plist>